.mapContainer {
  flex: 1;
  display: flex;
  height: 100%; /* Ensure the container takes the full viewport height */
}

.map {
  height: 100%; /* Ensure the map fills the container */
  width: 100%; /* Optional: Ensure the map fills the width */
}